body {
    background-color: rgb(255, 251, 0);
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    display: inline-block;
    margin-top: 15%;
    text-align: center;
}

#res {
    font-family: sans-serif;
    font-size: 30px;
}

h1 {
    margin-top: 20px;
    font-family: sans-serif;
}

button {
    border-radius: 20px;
    font-family: sans-serif;
    background-color: teal;
    box-shadow: 5px;
    margin: auto;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: rgb(2, 100, 100);
}