body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
}

.container {
    padding: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    display: inline-block;
    margin-top: 15%;
    text-align: center;
}

#res {
    font-family: sans-serif;
    font-size: 25px;
}

h1 {
    margin-top: 20px;
    font-family: sans-serif;
}

button {
    display: inline-block;
    border-radius: 20px;
    font-family: sans-serif;
    background-color: rgb(45, 172, 77);
    box-shadow: 0 9px #999;
    margin: auto;
    cursor: pointer;
    padding: 15px 25px;
    font-size: 20px;
    outline: none;
    border: none;
}

button:hover {
    background-color: rgb(40, 202, 34);
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

select {
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
}

input {
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
}